/* login.css */
.login-page {
  font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('C:\Users\KonduruTharun\jin-app\src\components\jman6.png') no-repeat right center;
    background-size: cover;
    height: 100vh;
}

/* Style the login form container */
.login-page .auth-form-l {
  background-color: rgba(255, 192, 203, 0.6);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-page .auth-form-l h2 {
  margin-bottom: 10px;
  color: black; /* Text color */
}

.login-page .auth-form-l form {
  display: flex;
  flex-direction: column;
}

.login-page .auth-form-l input {
  margin: 5px 0;
  padding: 10px;
  border: none; /* Remove border */
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9); /* White with transparency */
}

.login-page .auth-form-l button {
  margin-top: 10px;
  padding: 10px;
  background: bisque;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.login-page .auth-form-l button:hover {
  background: #5426c0;
}

.login-page .auth-form-l p {
  color: black; /* Text color */
  margin-top: 15px;
}

/* Add a style for the "Forgot Password" link */
.login-page .forgot-password-link {
  color: #fff;
  cursor: pointer;
}

.login-page .forgot-password-link:hover {
  text-decoration: underline;
}
